.row{
    width: 80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 50px 40;
}
.row.left{
    overflow: hidden;

}
.row.left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}